<!DOCTYPE html>
<html>
<head>
    <title>Modify Appointment</title>
</head>
<body>
    <h1>Modify Appointment</h1>
    <form method="POST" action="/modify_appointments">
        <label for="appointment_id">* Appointment id: </label>
        <input type="text" name="appointment_id" value="{{ row['id'] if row else '' }}" required>
        <br>
        <label for="appointment_date">Appointment Date:</label>
        <input type="date" name="appointment_date" value="{{ row['appointment_date'] if row else '' }}">
        <br>
        <label for="appointment_time">Appointment Time:</label>
        <input type="time" name="appointment_time" value="{{ row['appointment_time'] if row else '' }}">
        <br>
        <label for="patient_name">Patient Name:</label>
        <input type="text" name="patient_name" value="{{ row['patient_name'] if row else '' }}">
        <br>
        <label for="reason">Reason:</label>
        <input type="text" name="reason" value="{{ row['reason'] if row else '' }}">
        <br>
        <button type="submit">Modify Appointment</button>
    </form>
</body>
</html>